Source: sgx-ddk-um
Section: graphics
Priority: important
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends:
 debhelper (>= 10),
 libdrm-dev,
 pkg-config
Standards-Version: 4.3.0
Vcs-Git: https://github.com/maemo-leste/sgx-ddk-um

Package: sgx-ddk-um-ti343x
Priority: important
Architecture: armhf
Depends: ${misc:Depends}, libdrm2
Provides: sgx-ddk-um-libs
Conflicts:
 sgx-ddk-um-ti443x,
 linux-image-n900 (<< 5.15.0),
 ti-omap3-sgx
Description: SGX DDK user mode libraries for ti343x

Package: sgx-ddk-um-ti443x
Priority: important
Architecture: armhf
Depends: ${misc:Depends}, libdrm2
Conflicts:
 sgx-ddk-um-ti343x,
 pvr-omap4,
 pvr-omap4-libs,
 pvr-omap4-utils,
 libegl1-sgx-omap4,
 libgles1-sgx-omap4,
 linux-image-droid4 (<< 5.15.0)
Replaces:
 pvr-omap4,
 pvr-omap4-libs,
 pvr-omap4-utils,
 libegl1-sgx-omap4,
 libgles1-sgx-omap4,
Provides:
 sgx-ddk-um-libs,
 pvr-omap4,
 pvr-omap4-libs,
 pvr-omap4-utils,
 libegl1-sgx-omap4,
 libgles1-sgx-omap4,
Description: SGX DDK user mode libraries for ti443x

Package: sgx-ddk-um-tools
Priority: important
Architecture: armhf
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 sgx-ddk-um-libs
Description: SGX DDK user mode tools

Package: sgx-ddk-um-dev
Architecture: armhf
Provides: sgx-ddk-um-dev-1.17.4948957
Conflicts: pvr-omap4-dev
Replaces: pvr-omap4-dev
Depends: ${misc:Depends}, sgx-ddk-um-libs
Description: Development headers for PVR
